<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who's turn is it?</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

<h3>Who's turn is it?</h3>

<div id="gameInfo"></div>

<button onclick="gameRefresh()">Refresh</button>

</body>
</html>